<body class="thrColElsHdr">

<div id="container">
  <div id="header">
    ${header}
  </div>
  <div id="sidebar1">
    ${sidebar1}
  <!-- end #sidebar1 --></div>
  <div id="sidebar2">
    ${sidebar2}
    <!-- end #sidebar2 --></div>
  <div id="mainContent">
    % if userid<>'0':
        <h1>User ${username}</h1>
        <form id="edituser" name="edituser" method="post" action="/user/doEdit/${userid}/">
        <p>Username: <input type="text" name="username" id="username" value="${username}" /></p>
        
        <p>Number of pages created: <strong>${nrpages}</strong></p>
        <p>ID: <strong>${userid}</strong></p>
        <h2>All pages of user ${username}</h2>
        % if nrpages<>"0":
            <table>
            % for page in userpages:
                <% 
                   pageid = page[0]
                   title = page[1]
                   content = page[2]
                   
                %>
                    <tr colspan="2">
                        <td><strong><a href="/page/${pageid}/${title | u}"$>${title}</a></strong></td>
                        <td>${content}</td>
                    </tr>
            % endfor
            </table>
            <input type="submit" id="save" value="Save" />
        </form>
        % else:
            <p>The user has not published any sites yet.</p>
        % endif
    % else:
        <h1>Non-existant user</h1>
        <p>This user does not exist! You can <a href="/search/users/">search for users</a> if you are trying to find someone.
    % endif
  </div>
	<!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats --><br class="clearfloat" />
   <div id="footer">
     ${footer}
  <!-- end #footer --></div>
<!-- end #container --></div>
</body>